@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-DynaPuff: "DynaPuff", system-ui;
  --font-Tiktok:"TikTok Sans", sans-serif;
}
